<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Reservation
</title>

        <!-- Bootstrap -->
        <link href="Reservation_files/add.css" rel="stylesheet">
        <link href="Reservation_files/bootstrap.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="Reservation_files/jquery-1.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="Reservation_files/bootstrap.js"></script>
    </head>
        
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Princess Cruises</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://myapps.dev/main">Home</a></li>
                        <li><a href="http://myapps.dev/search">Search</a></li>
                        <li><a href="http://myapps.dev/cruises">Cruises</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reservations <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://myapps.dev/reservation">View Existing Reservations</a></li>
                                <li><a href="http://myapps.dev/reservation/create">Create New Reservations</a></li>
                                <li><a href="http://myapps.dev/reservation/%7Breservation%7D">Update Existing Reservations</a></li>
                            </ul>
                        </li>
                    </ul>
                                            <span class="nav-text navbar-right" style="color:beige;">
                        <p class="nav-text navbar-right" style="color:white; padding-left:20px;">Welcome, Test!</p>
                        <a href="http://myapps.dev/auth/logout">Logout</a>    
                        </span>
                                    </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container" id="contentmain" role="main">
            <div class="row">
                						<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
					<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
					<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
					<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
					<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
					<h3><a href="http://myapps.dev/cruises/1">Port Carmella</a></h3>
			<p>From: New Maryjane </p>
			<p>To: South Omermouth </p>
			<p>Departing: 1974-09-15 21:55:24</p>
			<p>Arrival: 1993-02-25 19:26:22 </p>
			                 
            </div>
            <div class="row">
                            </div>
        </div>
     
</body></html>